*{
    margin:0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    /* border: 2px solid black; */
}

body{
    background-color: rgb(221 221 183);
}

section{
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 10px 20px 0px;
}

.logo img {
    height: 100px;
    width:  100px;;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    width: 300px;
    border : 2px solid black;
    font-size: 20px;
    background-color: #50afb4;
    box-shadow: 5px 5px;
    padding: 10px;;
}

#signup-button button{
    height: 35px;
    width: 210px;
    font-size: 20px;
    margin : 30px 0px 0px 0px;
    cursor: pointer;
    background-color: rgb(184 199 211);
    box-shadow: 2px 2px;
    margin : 10px;
}

.name-tag input {
    width : 210px;
    margin : 10px 0px;
    padding: 5px;
    border : 2px solid black;
}
