*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: rgb(227, 212, 230);
}

nav{
    border:2px solid black;
    background-color: black;
    display: flex;
    color: white;
    font-style: italic;
    justify-content: space-around;
    align-items: center;
    position: sticky;

}
#logo-home-page img{
    height: 45px;
    width: 100px;
    background-color: black;
}
nav ul {
    display: flex;
    background-color: black;
}

#search{
    height: 30px;
    background-color: white;
}

nav ul li{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 10px;
    padding: 10px 20px;
    cursor: pointer;
}
/* login button  */


#login-home button{
    height: 30px;
    width: 100px;
    /* border-radius: 5px; */
    background-color:#000000a1;
    color: white;
    font-style: italic;
    font-size: 15px;
    /* box-shadow: 2px 2px; */
    cursor: pointer;

}
/* categories */
section{
    display: grid;
    grid-gap: 10px;
}
section ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 400px;
    /* border:2px solid black; */
    grid-gap: 10px;
    
}

section ul li {
    border: 2px solid black;
    list-style: none;
}


section ul li img{
    background: no-repeat center center/cover;
}
footer{
    border: 2px solid black;
    margin: 5px 0px;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}
@media only screen and (max-width:700px){

    nav{
        display: flex;
        flex-direction: column;
        /* align-items: baseline; */
    }
    nav ul li{
        padding: 10px 5px;
    }
    section ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 400px;
        /* border:2px solid black; */
        grid-gap: 10px;
        
    }
}
@media only screen and (min-width:700px) and (max-width:1400px){
    
    
    section ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 400px;
        /* border:2px solid black; */
        grid-gap: 10px;
        
    }
}
@media only screen and (min-width:700px) and (max-width:1000px){
    nav{
        display: flex;
        flex-direction: column;
        /* align-items: baseline; */
    } 
    nav ul li{
        padding: 10px 40px;
    }
}

@media only screen and (min-width:1400px)
{
    section ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 400px;
        /* border:2px solid black; */
        grid-gap: 10px;
        
    }
}

